# Data related
data/

# Python files
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/

# Model
models/
*.joblib

# Config files
pre-commit-config.yaml

# OS/Editor files
.DS_Store
*.swp

# Model artifacts
models/
*.joblib
*.pkl
